In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
path=r"C:\Users\mpmoh\Naresh IT\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [ ]:
-normalization 

   - min max scalar
    
    - value ranges from 0 to 1

In [ ]:
# take the prevailing wage column 
# z- score = x-mean/sigma 

# step-2: calculate mean of prevailing wage
# step-3: calculate std of prewage
# step -4 Nr: pwage-mean
# step-5: owage_zscore=Nr/Dr

In [5]:
pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()
Nr=pwage-pwage_mean
visa_df['prevailing_wage_z']=Nr/pwage_std

In [6]:
visa_df[['prevailing_wage','prevailing_wage_z']]

       prevailing_wage  prevailing_wage_z
0             592.2029          -1.398510
1           83425.6500           0.169832
2          122996.8600           0.919060
3           83434.0300           0.169991
4          149907.3900           1.428576
...                ...                ...
25475       77092.5700           0.049923
25476      279174.7900           3.876083
25477      146298.8500           1.360253
25478       86154.7700           0.221504
25479       70876.9100          -0.067762

[25480 rows x 2 columns]

In [7]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()

(319210.27, 4.634101837909902)

In [8]:
visa_df['prevailing_wage'].idxmax()

21077

In [10]:
visa_df['prevailing_wage_z'].min(),visa_df['prevailing_wage_z'].min()

(-1.4096818992891214, -1.4096818992891214)

In [11]:
visa_df['prevailing_wage'].idxmin()

20575

In [13]:
visa_df.iloc[[21077,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,319210.2700,Year,Y,Denied,4.634102
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682

In [14]:
cols=['prevailing_wage','prevailing_wage_z']
ids=[2107,20575]
visa_df[['prevailing_wage','prevailing_wage_z']].iloc[[2107,20575]]
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_z
2107        56741.4400          -0.335398
20575           2.1367          -1.409682

$standardscalar$

In [ ]:
# read the package
# save the package
# apply fit trans

In [17]:
from sklearn.preprocessing import standardScaler
ss=StandardScaler()
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])

ImportError: cannot import name 'standardScaler' from 'sklearn.preprocessing' (C:\Users\mpmoh\OneDrive\New folder\anaconda\Lib\site-packages\sklearn\preprocessing\__init__.py)

In [21]:
cols=['prevailing_wage','prevailing_wage_z','prevailing_wage_ss']
visa_df[cols]

KeyError: "['prevailing_wage_ss'] not in index"

In [20]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

**normalization**

In [ ]:
# x- x_min/(x_max-x_min)
#step-1 : read the pawage column
#step-2 : find the min value of the pwage column
#step-3 : nr= datacolumn-min value
#step-4

$MinMaxScalar$

In [22]:
pwage=visa_df['prevailing_wage']
pwage_min=visa_df['prevailing_wage'].min()
pwage_max=visa_df['prevailing_wage'].max()
nr=pwage-pwage_min
dr=pwage_max-pwage_min
visa_df['prevailing_wage_norm']=nr/dr

In [24]:
visa_df['prevailing_wage_norm'].min(),visa_df['prevailing_wage_norm'].max()

(0.0, 1.0)

MinMaxScalar

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMax